.prdct-title {
    margin: 20px;
}

.filter-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-weight: 600;
}

.slct-optn {
    margin-left: 20px;
    padding: 5px;
}